body{
  background-color: #fff !important;
  width: 100%;
}

.len {
  width: 50%;
  height: 50%;

}

.begin-header {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding-top: 80px;
}
.img-hand {
  padding-left: 453px;
}

.txt-block {
  -webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.btn-primary {
  margin-top: 1px;
  background-color: #fff !important;
  color: #00628a !important;
  border: none;
}

hr {
  min-width:95%;
  border: none;
  background-color: #2f415f;
  color: #2f415f; /* IE6 e 7*/
  height: 1px ;
  background-image: linear-gradient(to right, #2f415f, #2f415f, #2f415f);

}

.sidebar {
  background-color: #009ACD !important;
}

.sidebar-wrapper{
  background-color: #009ACD !important;
}

.sub-header {
  margin-top: auto;
}

#margin-empresa {
  margin-top: -6px;
}

#margin-post {
  margin-top: -14px;
}

#margin-tipo {
  margin-top: -19px;
}

#btn-vaga {
  margin-top: -60px;
  position: relative;
  float: right;
}

.card {
  width: 1030px;
}

.title {
  color: #151326;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.visualizar {
  cursor: pointer;
}
